/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2018, 6:23:33 PM
    Author     : Rakesh
*/

@font-face {
  font-family: 'icomoon';
  src:  url('uiicons/icomoon.eot?o8ynwk');
  src:  url('uiicons/icomoon.eot?o8ynwk#iefix') format('embedded-opentype'),
    url('uiicons/icomoon.ttf?o8ynwk') format('truetype'),
    url('uiicons/icomoon.woff?o8ynwk') format('woff'),
    url('uiicons/icomoon.svg?o8ynwk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analytics .path1:before {
  content: "\e900";
  color: rgb(240, 97, 81);
}
.icon-analytics .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-analytics .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(44, 160, 218);
}
.icon-analytics .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-analytics .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(225, 230, 231);
}
.icon-analytics .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-analytics .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-analytics .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-analytics .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-analytics .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path1:before {
  content: "\e91a";
  color: rgb(225, 230, 231);
}
.icon-checklist .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-checklist .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-checklist .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-checklist .path6:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path7:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(23, 54, 81);
}
.icon-checklist .path8:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(225, 230, 231);
}
.icon-checklist .path9:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-checklist .path10:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-checklist .path11:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-checklist .path12:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-checklist .path13:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-checklist .path14:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-checklist .path15:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path16:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path17:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path18:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path19:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path20:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path21:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path22:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path23:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path24:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path25:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-checklist .path26:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-crm .path1:before {
  content: "\e934";
  color: rgb(239, 242, 250);
}
.icon-crm .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-crm .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 100, 100);
}
.icon-crm .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 225, 130);
}
.icon-crm .path5:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(165, 215, 110);
}
.icon-crm .path6:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-crm .path7:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-crm .path8:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-crm .path9:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-crm .path10:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(239, 242, 250);
}
.icon-crm .path11:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 210, 255);
}
.icon-crm .path12:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-crm .path13:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-crm .path14:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-crm .path15:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-crm .path16:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-crm .path17:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-crm .path18:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-crm .path19:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(215, 222, 237);
}
.icon-crm .path20:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 210, 255);
}
.icon-crm .path21:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 210, 255);
}
.icon-crm .path22:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 210, 255);
}
.icon-crm .path23:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 210, 255);
}
.icon-development .path1:before {
  content: "\e94b";
  color: rgb(24, 54, 81);
}
.icon-development .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-development .path3:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path4:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path5:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path6:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path7:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path8:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path9:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path10:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path11:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-development .path12:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path13:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path14:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-development .path15:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path1:before {
  content: "\e95a";
  color: rgb(240, 97, 81);
}
.icon-email .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path3:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path4:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-email .path5:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path6:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path7:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-email .path8:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path9:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path10:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-email .path11:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-email .path12:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path13:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path14:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path15:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path16:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path17:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path18:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path19:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path20:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-email .path21:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path1:before {
  content: "\e96f";
  color: rgb(224, 228, 232);
}
.icon-idea .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path4:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-idea .path5:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea .path6:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path7:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea .path8:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path9:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea .path10:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path11:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea .path12:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path13:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path14:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path15:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-idea .path16:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path17:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path18:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path19:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea .path20:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path21:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-idea .path22:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path23:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path24:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path25:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path26:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path27:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path28:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-idea .path29:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path1:before {
  content: "\e98c";
  color: rgb(224, 228, 232);
}
.icon-laptop .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path3:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-laptop .path4:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-laptop .path5:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path6:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-laptop .path7:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path8:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-laptop .path9:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path10:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-laptop .path11:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path12:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-laptop .path13:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-laptop .path14:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-laptop .path15:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path16:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path17:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path18:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path19:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path20:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path21:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path22:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path23:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path24:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path25:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path26:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path27:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path28:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-laptop .path29:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path30:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path31:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path32:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path33:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path34:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path35:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-laptop .path36:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-laptop .path37:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path1:before {
  content: "\e9b1";
  color: rgb(251, 189, 94);
}
.icon-management .path2:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-management .path3:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path4:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-management .path5:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-management .path6:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-management .path7:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-management .path8:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-management .path9:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-management .path10:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path11:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path12:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path13:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path14:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path15:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path16:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path17:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path18:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path19:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-management .path20:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-management .path21:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path1:before {
  content: "\e9c6";
  color: rgb(224, 228, 232);
}
.icon-meeting .path2:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meeting .path3:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path4:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-meeting .path5:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path6:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path7:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path8:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path9:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path10:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path11:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path12:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path13:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path14:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path15:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path16:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path17:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meeting .path18:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path19:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meeting .path20:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path21:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-meeting .path22:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path23:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meeting .path24:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path25:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-meeting .path26:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path27:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meeting .path28:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path29:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-meeting .path30:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path31:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meeting .path32:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-meeting .path33:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-meeting .path34:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path1:before {
  content: "\e9e8";
  color: rgb(79, 191, 159);
}
.icon-motivation .path2:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-motivation .path3:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path4:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-motivation .path5:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-motivation .path6:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path7:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-motivation .path8:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path9:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path10:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path11:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path12:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path13:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path14:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path15:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path16:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path17:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path18:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path19:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path20:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path21:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path22:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path23:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path24:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-motivation .path25:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path1:before {
  content: "\ea01";
  color: rgb(251, 189, 94);
}
.icon-planning .path2:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path3:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path4:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path5:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path6:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path7:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path8:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path9:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path10:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-planning .path11:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path12:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-planning .path13:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path14:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-planning .path15:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path16:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-planning .path17:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path18:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-planning .path19:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path20:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path21:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path22:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path23:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path24:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path25:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path26:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path27:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path28:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path29:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path30:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-planning .path31:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-planning .path32:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-planning .path33:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path1:before {
  content: "\ea22";
  color: rgb(225, 230, 231);
}
.icon-presentation .path2:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path3:before {
  content: "\ea24";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-presentation .path4:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(44, 160, 218);
}
.icon-presentation .path5:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-presentation .path6:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(225, 230, 231);
}
.icon-presentation .path7:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(23, 54, 81);
}
.icon-presentation .path8:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-presentation .path9:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path10:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-presentation .path11:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path12:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-presentation .path13:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path14:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-presentation .path15:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path16:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-presentation .path17:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path18:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-presentation .path19:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path20:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-presentation .path21:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path22:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-presentation .path23:before {
  content: "\ea38";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path24:before {
  content: "\ea39";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path25:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path26:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path27:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path28:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path29:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-presentation .path30:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path1:before {
  content: "\ea40";
  color: rgb(79, 191, 159);
}
.icon-profile .path2:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path3:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-profile .path4:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-profile .path5:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path6:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-profile .path7:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-profile .path8:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path9:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-profile .path10:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-profile .path11:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-profile .path12:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path13:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path14:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path15:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path16:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-profile .path17:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(206, 207, 208);
}
.icon-profile .path18:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(206, 207, 208);
}
.icon-profile .path19:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(206, 207, 208);
}
.icon-profile .path20:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(206, 207, 208);
}
.icon-project .path1:before {
  content: "\ea54";
  color: rgb(251, 189, 94);
}
.icon-project .path2:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-project .path3:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path4:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-project .path5:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-project .path6:before {
  content: "\ea59";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path7:before {
  content: "\ea5a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-project .path8:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path9:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-project .path10:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path11:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-project .path12:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path13:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path14:before {
  content: "\ea61";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path15:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path16:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path17:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path18:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path19:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path20:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-project .path21:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path1:before {
  content: "\ea69";
  color: rgb(79, 191, 159);
}
.icon-rocket-launch .path2:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-rocket-launch .path3:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path4:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-rocket-launch .path5:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path6:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rocket-launch .path7:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path8:before {
  content: "\ea70";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-rocket-launch .path9:before {
  content: "\ea71";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path10:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rocket-launch .path11:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path12:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-rocket-launch .path13:before {
  content: "\ea75";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path14:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path15:before {
  content: "\ea77";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-rocket-launch .path16:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-rocket-launch .path17:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rocket-launch .path18:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-rocket-launch .path19:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-schedule .path1:before {
  content: "\ea7c";
  color: rgb(225, 230, 231);
}
.icon-schedule .path2:before {
  content: "\ea7d";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-schedule .path3:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-schedule .path4:before {
  content: "\ea7f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path5:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(23, 54, 81);
}
.icon-schedule .path6:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(23, 54, 81);
}
.icon-schedule .path7:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(23, 54, 81);
}
.icon-schedule .path8:before {
  content: "\ea83";
  margin-left: -1em;
  color: rgb(23, 54, 81);
}
.icon-schedule .path9:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(23, 54, 81);
}
.icon-schedule .path10:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(23, 54, 81);
}
.icon-schedule .path11:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-schedule .path12:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-schedule .path13:before {
  content: "\ea88";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path14:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-schedule .path15:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path16:before {
  content: "\ea8b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-schedule .path17:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path18:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-schedule .path19:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path20:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path21:before {
  content: "\ea90";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path22:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path23:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path24:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path25:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path26:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path27:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path28:before {
  content: "\ea97";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path29:before {
  content: "\ea98";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path30:before {
  content: "\ea99";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path31:before {
  content: "\ea9a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path32:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path33:before {
  content: "\ea9c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path34:before {
  content: "\ea9d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path35:before {
  content: "\ea9e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path36:before {
  content: "\ea9f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path37:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path38:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-schedule .path39:before {
  content: "\eaa2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-schedule .path40:before {
  content: "\eaa3";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-schedule .path41:before {
  content: "\eaa4";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path1:before {
  content: "\eaa5";
  color: rgb(255, 255, 255);
}
.icon-seminar .path2:before {
  content: "\eaa6";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path3:before {
  content: "\eaa7";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-seminar .path4:before {
  content: "\eaa8";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path5:before {
  content: "\eaa9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-seminar .path6:before {
  content: "\eaaa";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-seminar .path7:before {
  content: "\eaab";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path8:before {
  content: "\eaac";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-seminar .path9:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-seminar .path10:before {
  content: "\eaae";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path11:before {
  content: "\eaaf";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-seminar .path12:before {
  content: "\eab0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path13:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-seminar .path14:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path15:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-seminar .path16:before {
  content: "\eab4";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path17:before {
  content: "\eab5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-seminar .path18:before {
  content: "\eab6";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path19:before {
  content: "\eab7";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-seminar .path20:before {
  content: "\eab8";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path21:before {
  content: "\eab9";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-seminar .path22:before {
  content: "\eaba";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path23:before {
  content: "\eabb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-seminar .path24:before {
  content: "\eabc";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path25:before {
  content: "\eabd";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path26:before {
  content: "\eabe";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path27:before {
  content: "\eabf";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path28:before {
  content: "\eac0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path29:before {
  content: "\eac1";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-seminar .path30:before {
  content: "\eac2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-shopping-basket .path1:before {
  content: "\eac3";
  color: rgb(224, 228, 232);
}
.icon-shopping-basket .path2:before {
  content: "\eac4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path3:before {
  content: "\eac5";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-shopping-basket .path4:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path5:before {
  content: "\eac7";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-shopping-basket .path6:before {
  content: "\eac8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path7:before {
  content: "\eac9";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-shopping-basket .path8:before {
  content: "\eaca";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-shopping-basket .path9:before {
  content: "\eacb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path10:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-shopping-basket .path11:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path12:before {
  content: "\eace";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path13:before {
  content: "\eacf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path14:before {
  content: "\ead0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path15:before {
  content: "\ead1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path16:before {
  content: "\ead2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-shopping-basket .path17:before {
  content: "\ead3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path18:before {
  content: "\ead4";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-shopping-basket .path19:before {
  content: "\ead5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path20:before {
  content: "\ead6";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-shopping-basket .path21:before {
  content: "\ead7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-basket .path22:before {
  content: "\ead8";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path1:before {
  content: "\ead9";
  color: rgb(251, 189, 94);
}
.icon-social-media .path2:before {
  content: "\eada";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path3:before {
  content: "\eadb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-social-media .path4:before {
  content: "\eadc";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-social-media .path5:before {
  content: "\eadd";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path6:before {
  content: "\eade";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-social-media .path7:before {
  content: "\eadf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-social-media .path8:before {
  content: "\eae0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path9:before {
  content: "\eae1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-social-media .path10:before {
  content: "\eae2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path11:before {
  content: "\eae3";
  margin-left: -1em;
  color: rgb(206, 207, 208);
}
.icon-social-media .path12:before {
  content: "\eae4";
  margin-left: -1em;
  color: rgb(206, 207, 208);
}
.icon-social-media .path13:before {
  content: "\eae5";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path14:before {
  content: "\eae6";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path15:before {
  content: "\eae7";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path16:before {
  content: "\eae8";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path17:before {
  content: "\eae9";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-social-media .path18:before {
  content: "\eaea";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path19:before {
  content: "\eaeb";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-social-media .path20:before {
  content: "\eaec";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path21:before {
  content: "\eaed";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-social-media .path22:before {
  content: "\eaee";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path23:before {
  content: "\eaef";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path24:before {
  content: "\eaf0";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path25:before {
  content: "\eaf1";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path26:before {
  content: "\eaf2";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path27:before {
  content: "\eaf3";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path28:before {
  content: "\eaf4";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-social-media .path29:before {
  content: "\eaf5";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path1:before {
  content: "\eaf6";
  color: rgb(251, 189, 94);
}
.icon-success .path2:before {
  content: "\eaf7";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-success .path3:before {
  content: "\eaf8";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path4:before {
  content: "\eaf9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-success .path5:before {
  content: "\eafa";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path6:before {
  content: "\eafb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-success .path7:before {
  content: "\eafc";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path8:before {
  content: "\eafd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-success .path9:before {
  content: "\eafe";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path10:before {
  content: "\eaff";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-success .path11:before {
  content: "\eb00";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path12:before {
  content: "\eb01";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-success .path13:before {
  content: "\eb02";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path14:before {
  content: "\eb03";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-success .path15:before {
  content: "\eb04";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path16:before {
  content: "\eb05";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-success .path17:before {
  content: "\eb06";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-success .path18:before {
  content: "\eb07";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-success .path19:before {
  content: "\eb08";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-success .path20:before {
  content: "\eb09";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-timeline .path1:before {
  content: "\eb0a";
  color: rgb(251, 189, 94);
}
.icon-timeline .path2:before {
  content: "\eb0b";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-timeline .path3:before {
  content: "\eb0c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path4:before {
  content: "\eb0d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-timeline .path5:before {
  content: "\eb0e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-timeline .path6:before {
  content: "\eb0f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path7:before {
  content: "\eb10";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-timeline .path8:before {
  content: "\eb11";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path9:before {
  content: "\eb12";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path10:before {
  content: "\eb13";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path11:before {
  content: "\eb14";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path12:before {
  content: "\eb15";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path13:before {
  content: "\eb16";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path14:before {
  content: "\eb17";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path15:before {
  content: "\eb18";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path16:before {
  content: "\eb19";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path17:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path18:before {
  content: "\eb1b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path19:before {
  content: "\eb1c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path20:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path21:before {
  content: "\eb1e";
  margin-left: -1em;
  color: rgb(206, 207, 208);
}
.icon-timeline .path22:before {
  content: "\eb1f";
  margin-left: -1em;
  color: rgb(206, 207, 208);
}
.icon-timeline .path23:before {
  content: "\eb20";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-timeline .path24:before {
  content: "\eb21";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path25:before {
  content: "\eb22";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path26:before {
  content: "\eb23";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path27:before {
  content: "\eb24";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path28:before {
  content: "\eb25";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path29:before {
  content: "\eb26";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path30:before {
  content: "\eb27";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path31:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path32:before {
  content: "\eb29";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-timeline .path33:before {
  content: "\eb2a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path34:before {
  content: "\eb2b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-timeline .path35:before {
  content: "\eb2c";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-timeline .path36:before {
  content: "\eb2d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path1:before {
  content: "\eb2e";
  color: rgb(79, 191, 159);
}
.icon-workflow .path2:before {
  content: "\eb2f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-workflow .path3:before {
  content: "\eb30";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path4:before {
  content: "\eb31";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path5:before {
  content: "\eb32";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path6:before {
  content: "\eb33";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path7:before {
  content: "\eb34";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path8:before {
  content: "\eb35";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path9:before {
  content: "\eb36";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path10:before {
  content: "\eb37";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-workflow .path11:before {
  content: "\eb38";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-workflow .path12:before {
  content: "\eb39";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path13:before {
  content: "\eb3a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path14:before {
  content: "\eb3b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path15:before {
  content: "\eb3c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-workflow .path16:before {
  content: "\eb3d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path17:before {
  content: "\eb3e";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-workflow .path18:before {
  content: "\eb3f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-workflow .path19:before {
  content: "\eb40";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path20:before {
  content: "\eb41";
  margin-left: -1em;
  color: rgb(46, 160, 218);
}
.icon-workflow .path21:before {
  content: "\eb42";
  margin-left: -1em;
  color: rgb(224, 228, 232);
}
.icon-workflow .path22:before {
  content: "\eb43";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path23:before {
  content: "\eb44";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-workflow .path24:before {
  content: "\eb45";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-workflow .path25:before {
  content: "\eb46";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-working-hours .path1:before {
  content: "\eb47";
  color: rgb(44, 160, 218);
}
.icon-working-hours .path2:before {
  content: "\eb48";
  margin-left: -1em;
  color: rgb(240, 97, 81);
}
.icon-working-hours .path3:before {
  content: "\eb49";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path4:before {
  content: "\eb4a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-working-hours .path5:before {
  content: "\eb4b";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path6:before {
  content: "\eb4c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path7:before {
  content: "\eb4d";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path8:before {
  content: "\eb4e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path9:before {
  content: "\eb4f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path10:before {
  content: "\eb50";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path11:before {
  content: "\eb51";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path12:before {
  content: "\eb52";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path13:before {
  content: "\eb53";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-working-hours .path14:before {
  content: "\eb54";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path15:before {
  content: "\eb55";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path16:before {
  content: "\eb56";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path17:before {
  content: "\eb57";
  margin-left: -1em;
  color: rgb(251, 189, 94);
}
.icon-working-hours .path18:before {
  content: "\eb58";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path19:before {
  content: "\eb59";
  margin-left: -1em;
  color: rgb(225, 230, 231);
}
.icon-working-hours .path20:before {
  content: "\eb5a";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path21:before {
  content: "\eb5b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-working-hours .path22:before {
  content: "\eb5c";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path23:before {
  content: "\eb5d";
  margin-left: -1em;
  color: rgb(79, 191, 159);
}
.icon-working-hours .path24:before {
  content: "\eb5e";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path25:before {
  content: "\eb5f";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
.icon-working-hours .path26:before {
  content: "\eb60";
  margin-left: -1em;
  color: rgb(24, 54, 81);
}
